@model CompanyEditRequest
@{
    var listCompany = ViewBag.Companies as IEnumerable<Company>;
}
<form enctype="multipart/form-data" asp-controller="Company" asp-action="Edit">
    <div class="text-center">
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmail4" asp-for="@Model.Id"></label>
            <input class="form-control" asp-for="@Model.Id" readonly>

        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmail4" asp-for="@Model.Name"></label>
            <input class="form-control" asp-for="@Model.Name">
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>

    </div>
    
    <button type="submit" class="btn btn-primary">Lưu</button>
</form>
